@charset "UTF-8";
/* -------------------
  RESET
--------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a {
  color: inherit;
  text-decoration: none; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: none; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* -------------------
  NO - RESET
--------------------*/
.no-reset {
  /* Begin bidirectionality settings (do not change) */ }
  .no-reset html, .no-reset address,
  .no-reset blockquote,
  .no-reset body, .no-reset dd, .no-reset div,
  .no-reset dl, .no-reset dt, .no-reset fieldset, .no-reset form,
  .no-reset frame, .no-reset frameset,
  .no-reset h1, .no-reset h2, .no-reset h3, .no-reset h4,
  .no-reset h5, .no-reset h6, .no-reset noframes,
  .no-reset ol, .no-reset p, .no-reset ul, .no-reset center,
  .no-reset dir, .no-reset hr, .no-reset menu, .no-reset pre {
    display: block;
    unicode-bidi: embed; }
  .no-reset li {
    display: list-item; }
  .no-reset head {
    display: none; }
  .no-reset table {
    display: table; }
  .no-reset tr {
    display: table-row; }
  .no-reset thead {
    display: table-header-group; }
  .no-reset tbody {
    display: table-row-group; }
  .no-reset tfoot {
    display: table-footer-group; }
  .no-reset col {
    display: table-column; }
  .no-reset colgroup {
    display: table-column-group; }
  .no-reset td, .no-reset th {
    display: table-cell; }
  .no-reset caption {
    display: table-caption; }
  .no-reset th {
    font-weight: bolder;
    text-align: center; }
  .no-reset caption {
    text-align: center; }
  .no-reset body {
    margin: 8px; }
  .no-reset h1 {
    font-size: 2em;
    margin: .67em 0; }
  .no-reset h2 {
    font-size: 1.5em;
    margin: .75em 0; }
  .no-reset h3 {
    font-size: 1.17em;
    margin: .83em 0; }
  .no-reset h4, .no-reset p,
  .no-reset blockquote, .no-reset ul,
  .no-reset fieldset, .no-reset form,
  .no-reset ol, .no-reset dl, .no-reset dir,
  .no-reset menu {
    margin: 1.12em 0; }
  .no-reset h5 {
    font-size: .83em;
    margin: 1.5em 0; }
  .no-reset h6 {
    font-size: .75em;
    margin: 1.67em 0; }
  .no-reset h1, .no-reset h2, .no-reset h3, .no-reset h4,
  .no-reset h5, .no-reset h6, .no-reset b,
  .no-reset strong {
    font-weight: bolder; }
  .no-reset blockquote {
    margin-left: 40px;
    margin-right: 40px; }
  .no-reset i, .no-reset cite, .no-reset em,
  .no-reset var, .no-reset address {
    font-style: italic; }
  .no-reset pre, .no-reset tt, .no-reset code,
  .no-reset kbd, .no-reset samp {
    font-family: monospace; }
  .no-reset pre {
    white-space: pre; }
  .no-reset button, .no-reset textarea,
  .no-reset input, .no-reset select {
    display: inline-block; }
  .no-reset big {
    font-size: 1.17em; }
  .no-reset small, .no-reset sub, .no-reset sup {
    font-size: .83em; }
  .no-reset sub {
    vertical-align: sub; }
  .no-reset sup {
    vertical-align: super; }
  .no-reset table {
    border-spacing: 2px; }
  .no-reset thead, .no-reset tbody,
  .no-reset tfoot {
    vertical-align: middle; }
  .no-reset td, .no-reset th, .no-reset tr {
    vertical-align: inherit; }
  .no-reset s, .no-reset strike, .no-reset del {
    text-decoration: line-through; }
  .no-reset hr {
    border: 1px inset; }
  .no-reset ol {
    list-style-type: decimal; }
  .no-reset ol ul, .no-reset ul ol,
  .no-reset ul ul, .no-reset ol ol {
    margin-top: 0;
    margin-bottom: 0; }
  .no-reset u, .no-reset ins {
    text-decoration: underline; }
  .no-reset br:before {
    content: "\A";
    white-space: pre-line; }
  .no-reset center {
    text-align: center; }
  .no-reset :link, .no-reset :visited {
    text-decoration: underline; }
  .no-reset :focus {
    outline: thin dotted invert; }
  .no-reset BDO[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: bidi-override; }
  .no-reset BDO[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: bidi-override; }
  .no-reset *[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: embed; }
  .no-reset *[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: embed; }
  @media print {
    .no-reset h1 {
      page-break-before: always; }
    .no-reset h1, .no-reset h2, .no-reset h3,
    .no-reset h4, .no-reset h5, .no-reset h6 {
      page-break-after: avoid; }
    .no-reset ul, .no-reset ol, .no-reset dl {
      page-break-before: avoid; } }

/* -------------------
  VARIABLES
--------------------*/
/* -------------------
  MIXIN
--------------------*/
/* 
.example {
  font-size: fs(12); <- 12px quite
}
*/
/* 
.example {
  @include mq() {
	  width: 100%;
	}
}
*/
/* IE10 */
/* -------------------
  COMMON
--------------------*/
body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; }
  body.fixed {
    height: 100vh;
    overflow: hidden; }

.pc-only {
  display: block; }
  @media screen and (max-width: 950px) {
    .pc-only {
      display: none !important; } }

.pc-only2 {
  display: inline-block; }
  @media screen and (max-width: 950px) {
    .pc-only2 {
      display: none !important; } }

.sp-only {
  display: none !important; }
  @media screen and (max-width: 950px) {
    .sp-only {
      display: block !important; } }

.wrapper {
  min-width: 1400px;
  background-color: #fff;
  overflow: hidden; }
  @media screen and (max-width: 950px) {
    .wrapper {
      min-width: 100%;
      padding-top: 60px; } }

@-webkit-keyframes textLinear {
  0% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0); } }

@keyframes textLinear {
  0% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0); } }

.fadeup {
  opacity: 0;
  transform: translate(0, 80px);
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }

.fadeup-in {
  opacity: 1;
  transform: translate(0, 0); }

.delay-1 {
  transition-delay: 0s; }

.delay-2 {
  transition-delay: .2s; }

.delay-3 {
  transition-delay: .4s; }

.delay-4 {
  transition-delay: .6s; }

.delay-5 {
  transition-delay: .8s; }

.delay-6 {
  transition-delay: 1s; }

.delay-7 {
  transition-delay: 1.2s; }

.delay-8 {
  transition-delay: 1.4s; }

@media screen and (max-width: 1024px) {
  .tb-transition-delay-1 {
    transition-delay: 0s; }
  .tb-transition-delay-2 {
    transition-delay: .2s; }
  .tb-transition-delay-3 {
    transition-delay: .4s; }
  .tb-transition-delay-4 {
    transition-delay: .6s; } }

/* animation */
@-webkit-keyframes passing-bar {
  0% {
    left: 0;
    right: auto;
    width: 0; }
  50% {
    left: 0;
    right: auto;
    width: 100%; }
  51% {
    left: auto;
    right: 0;
    width: 100%; }
  100% {
    left: auto;
    right: 0;
    width: 0; } }

@keyframes passing-bar {
  0% {
    left: 0;
    width: 0; }
  50% {
    left: 0;
    width: 100%; }
  51% {
    left: 0;
    width: 100%; }
  100% {
    left: 100%;
    width: 0; } }

@-webkit-keyframes passing-txt {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes passing-txt {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.passing-txt {
  position: relative;
  display: block;
  opacity: 0;
  -webkit-animation: passing-txt 1.5s ease 0s 1 normal forwards;
  animation: passing-txt 1.5s ease 0s 1 normal forwards; }
  .passing-txt:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background: #40210F;
    -webkit-animation: passing-bar 1.5s ease 0s 1 normal forwards;
    animation: passing-bar 1.5s ease 0s 1 normal forwards;
    content: ""; }

/* Fade in right */
@-webkit-keyframes fade-in-right {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes fade-in-right {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

.fadeinright {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, transform 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }

.fadeinright-in {
  opacity: 1;
  transform: translateX(0); }

.delay-2 {
  transition-delay: .2s; }

/* -------------------
  COMMON
--------------------*/
.section-title {
  margin-bottom: 50px;
  font-size: 2rem;
  line-height: 3rem;
  font-family: 'EB Garamond', serif;
  color: #40210F;
  text-align: center; }
  @media screen and (max-width: 950px) {
    .section-title {
      margin-bottom: 40px;
      font-size: 1.625rem;
      line-height: 2.625rem; } }

.date {
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: 'EB Garamond', serif; }
  @media screen and (max-width: 950px) {
    .date {
      font-size: 0.6875rem;
      line-height: 1.25rem; } }

.under_link {
  display: inline-block;
  color: #40210F;
  text-decoration: underline;
  transition: all .3s;
  font-weight: 500; }
  .under_link:hover {
    opacity: 0.7; }

.viewmore {
  display: inline-block;
  padding: 18px 45px 16px;
  border-bottom: solid 2px #40210F;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all .2s; }
  .viewmore:hover {
    background-color: #40210F;
    color: #fff; }

.viewmap {
  position: relative;
  display: inline-block;
  padding: 18px 30px 16px;
  border-bottom: solid 2px #40210F;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all .2s; }
  .viewmap:hover {
    background-color: #40210F;
    color: #fff; }
    .viewmap:hover i svg {
      fill: #fff; }
  .viewmap i {
    position: absolute;
    width: 12px;
    top: 52%;
    transform: translateY(-50%); }
    .viewmap i svg {
      width: 100%; }
  .viewmap span {
    padding-left: 20px; }

.rect_tag {
  display: inline-block;
  margin-right: 10px;
  padding: 4px 10px;
  border: solid 1px #BFB391;
  color: #BFB391;
  font-size: 0.75rem;
  font-weight: 500; }
  .rect_tag:last-child {
    margin-right: 0; }
  @media screen and (max-width: 950px) {
    .rect_tag {
      font-size: 0.6875rem;
      line-height: 0.6875rem; } }

/* -------------------
  HEADER
--------------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  padding: 0 0 0 30px; }
  @media screen and (max-width: 950px) {
    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      padding: 0 15px;
      background-color: #fff;
      border-bottom: solid 1px #EFEFEF;
      z-index: 9999; } }
  @media screen and (max-width: 950px) {
    .header-logo {
      width: 168px; } }

/* -------------------
  HEADER
--------------------*/
.menu {
  height: 100%;
  text-align: right;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-family: 'EB Garamond', serif;
  font-weight: 500; }
  @media screen and (max-width: 950px) {
    .menu {
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 0.75rem;
      line-height: 1.25rem;
      background-color: #fff;
      z-index: 9999;
      transform: translateX(100%);
      transition: all .3s; }
      .menu.active {
        transform: translateX(0); } }
  .menu-inner {
    height: 100%;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 950px) {
      .menu-inner {
        display: block; } }
  .menu-list {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 50px;
    border-left: solid 1px #EFEFEF;
    border-right: solid 1px #EFEFEF; }
    @media screen and (max-width: 950px) {
      .menu-list {
        display: block;
        padding: 0;
        height: auto; } }
  .menu-item {
    margin-right: 30px;
    text-align: left; }
    @media screen and (max-width: 950px) {
      .menu-item {
        margin-right: 0;
        border-bottom: solid 1px #EFEFEF; } }
    .menu-item:last-child {
      margin-right: 0; }
    .menu-item.is-parent a span {
      position: relative;
      display: inline-block;
      padding-right: 15px; }
      .menu-item.is-parent a span:after {
        position: absolute;
        right: 0;
        top: 4px;
        display: block;
        width: 6px;
        height: 6px;
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: all .3s;
        content: ""; }
        @media screen and (max-width: 950px) {
          .menu-item.is-parent a span:after {
            top: 6px;
            width: 4px;
            height: 4px; } }
    .menu-item.is-parent a:hover span:after {
      border-color: #BFB391; }
    .menu-item.is-parent.active:after {
      top: 6px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg); }
    .menu-item.contact {
      padding: 0 30px;
      color: #40210F; }
      @media screen and (max-width: 950px) {
        .menu-item.contact {
          margin: 30px 20px 0;
          padding: 0;
          border-bottom: none;
          text-align: center;
          background-color: #40210F;
          color: #fff; } }
    .menu-item a {
      display: block;
      transition: all .3s; }
      @media screen and (max-width: 950px) {
        .menu-item a {
          padding: 15px 20px; } }
      .menu-item a:hover {
        color: #BFB391; }
        .menu-item a:hover:after {
          border-color: #BFB391; }

.sp-navBtn {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-left: solid 1px #EFEFEF;
  z-index: 9999; }
  .sp-navBtn.active span:first-child {
    top: calc(50% - 6px);
    transform: rotate(-30deg) translateX(-50%);
    -webkit-transform: rotate(-30deg) translateX(-50%); }
  .sp-navBtn.active span:nth-child(2) {
    top: calc(50% + 4px);
    transform: rotate(30deg) translateX(-50%);
    -webkit-transform: rotate(30deg) translateX(-50%); }
  .sp-navBtn span {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 20px;
    height: 2px;
    background-color: #776430;
    transition: all .3s; }
    .sp-navBtn span:first-child {
      top: calc(50% - 4px); }
    .sp-navBtn span:nth-child(2) {
      top: calc(50% + 2px); }

/* -------------------
  FOOTER
--------------------*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px; }
  @media screen and (max-width: 950px) {
    .footer {
      display: block;
      padding: 40px 20px; } }
  .footer-nav {
    display: flex; }
    @media screen and (max-width: 950px) {
      .footer-nav {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px; } }
    .footer-nav li {
      margin-right: 30px; }
      @media screen and (max-width: 950px) {
        .footer-nav li {
          width: 48%;
          margin-right: 0;
          margin-bottom: 20px; } }
      .footer-nav li:last-child {
        margin-right: 0; }
      .footer-nav li a {
        font-size: 0.75rem;
        line-height: 1.25rem;
        color: #40210F;
        transition: all .3s;
        font-weight: 500; }
        .footer-nav li a:hover {
          color: #BFB391; }
  .footer-copy {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #BFBFBF; }
    @media screen and (max-width: 950px) {
      .footer-copy {
        font-size: 0.6875rem; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked {
  overflow: hidden;
  touch-action: none; }

/* Anti FOUC */
.remodal,
[data-remodal-id] {
  display: none; }

/* Necessary styles of the overlay */
.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none; }

/* Necessary styles of the wrapper */
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch; }

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: ""; }

/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
  backface-visibility: hidden; }

/* Necessary styles of the modal dialog */
.remodal {
  position: relative;
  outline: none;
  text-size-adjust: 100%; }

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block; }

/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */
/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(43, 46, 56, 0.9); }

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes; }

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes; }

/* Default theme styles of the wrapper */
.remodal-wrapper {
  padding: 10px 10px 0; }

/* Default theme styles of the modal dialog */
.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff; }

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes; }

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes; }

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle; }

/* Close button */
.remodal-close {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent; }

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38; }

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center; }

/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0; }

.remodal-confirm {
  color: #fff;
  background: #81c784; }

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a; }

.remodal-cancel {
  color: #fff;
  background: #e57373; }

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350; }

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* Keyframes
   ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0); } }

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0); } }

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
    filter: blur(0); } }

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
    filter: blur(0); } }

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/* Media queries
   ========================================================================== */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px; } }

/* IE8
   ========================================================================== */
.lt-ie9 .remodal-overlay {
  background: #2b2e38; }

.lt-ie9 .remodal {
  width: 700px; }

/* -------------------
  TOP PAGE
--------------------*/
.main-visual {
  position: relative;
  min-height: 50vh;
  background: url("../images/top/bg_main.svg") top -430px left -250px no-repeat, linear-gradient(90deg, #534209 0%, #40210F 100%) 0% 0% no-repeat; }
  @media screen and (max-width: 950px) {
    .main-visual {
      padding-bottom: 40px;
      background: url(../images/top/bg_main.svg) top -155px left -76px/320px 320px no-repeat, linear-gradient(180deg, #534209 0%, #40210F 100%) 0% 0% no-repeat; } }
  .main-visual--bg {
    padding: 50px; }
    @media screen and (max-width: 950px) {
      .main-visual--bg {
        padding: 20px; } }
  .main-visual--title {
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 210px;
    width: 705px;
    max-width: 50%;
    z-index: 1;
    color: #fff;
    font-family: 'EB Garamond', serif; }
    @media screen and (max-width: 950px) {
      .main-visual--title {
        top: 35%;
        left: 30px;
        width: 80%;
        max-width: 100%; } }
    .main-visual--title p {
      width: 30%;
      margin-bottom: 20px; }
      @media screen and (max-width: 950px) {
        .main-visual--title p {
          width: 48%;
          margin-bottom: 10px; } }
    .main-visual--title h2 {
      width: 100%; }
  .main-visual--topic {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 535px;
    padding: 30px 50px 30px 40px;
    color: #fff;
    background-color: #40210F;
    z-index: 1; }
    @media screen and (max-width: 950px) {
      .main-visual--topic {
        position: static;
        display: block;
        width: 100%;
        padding: 0 20px;
        background-color: transparent; } }
    .main-visual--topic-left {
      width: calc(100% - 50px); }
      @media screen and (max-width: 950px) {
        .main-visual--topic-left {
          width: 100%; } }
    .main-visual--topic-right {
      width: 50px;
      text-align: right; }
      @media screen and (max-width: 950px) {
        .main-visual--topic-right {
          text-align: center;
          margin: 30px auto 0; } }
    .main-visual--topic-news {
      margin-bottom: 12px;
      font-size: 1.125rem;
      line-height: 1.4375rem;
      font-family: 'EB Garamond', serif; }
      @media screen and (max-width: 950px) {
        .main-visual--topic-news {
          font-size: 1rem;
          line-height: 1.5625rem; } }
    .main-visual--topic-des {
      font-size: 1rem;
      line-height: 1.8125rem;
      font-weight: bold;
      transition: all .3s; }
      @media screen and (max-width: 950px) {
        .main-visual--topic-des {
          font-size: 0.875rem;
          line-height: 1.5625rem; } }
      .main-visual--topic-des:hover {
        color: #BFB391; }
    .main-visual--topic-link {
      font-size: 0.75rem;
      line-height: 1.25rem;
      color: #fff; }
      @media screen and (max-width: 950px) {
        .main-visual--topic-link {
          font-size: 0.6875rem;
          line-height: 1.25rem; } }

.section-concept {
  position: relative;
  margin-bottom: 100px;
  background: url("../images/top/bg_concept.svg") bottom 430px right -370px no-repeat; }
  @media screen and (max-width: 950px) {
    .section-concept {
      background: url("../images/top/bg_concept.svg") bottom 31% right -190px/400px 400px no-repeat; } }
  .section-concept--row {
    position: relative;
    margin-bottom: 100px;
    padding: 0 180px; }
    @media screen and (max-width: 950px) {
      .section-concept--row {
        margin-bottom: 0;
        padding: 0; } }
    .section-concept--row .thumbWrap {
      width: 38.5%; }
      @media screen and (max-width: 950px) {
        .section-concept--row .thumbWrap {
          width: 100%; } }
      .section-concept--row .thumbWrap p {
        margin-top: 25px;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: bold; }
    .section-concept--row .desWrap {
      position: absolute;
      width: 625px;
      max-width: 100%;
      max-height: 310px;
      overflow: hidden;
      padding: 40px;
      background-color: #fff; }
      @media screen and (max-width: 950px) {
        .section-concept--row .desWrap {
          position: static;
          width: auto;
          max-height: 100%;
          margin: 0 10px;
          padding: 30px 0 0 0;
          background-color: transparent; } }
      .section-concept--row .desWrap p {
        font-size: 0.875rem;
        line-height: 1.75rem;
        font-weight: 500; }
        @media screen and (max-width: 950px) {
          .section-concept--row .desWrap p {
            font-size: 0.75rem;
            line-height: 1.375rem; } }
    .section-concept--row:nth-child(odd) {
      margin-bottom: 80px; }
      @media screen and (max-width: 950px) {
        .section-concept--row:nth-child(odd) {
          margin-bottom: 0;
          padding: 80px 10px 430px; } }
    .section-concept--row:nth-child(even) .thumbWrap p {
      padding-right: 100px; }
      @media screen and (max-width: 950px) {
        .section-concept--row:nth-child(even) .thumbWrap p {
          margin-bottom: 30px;
          padding: 0 10px;
          font-size: 1rem;
          line-height: 1.625rem; } }
    .section-concept--row:nth-child(even) .desWrap {
      left: 37.1%;
      border-left: solid 1px #40210F; }
      @media screen and (max-width: 950px) {
        .section-concept--row:nth-child(even) .desWrap {
          border-left: none;
          border-top: solid 1px #40210F; } }
    .section-concept--row:nth-child(odd) .thumbWrap {
      margin-left: auto; }
      .section-concept--row:nth-child(odd) .thumbWrap p {
        padding-left: 100px; }
        @media screen and (max-width: 950px) {
          .section-concept--row:nth-child(odd) .thumbWrap p {
            margin-bottom: 30px;
            padding: 0 10px;
            font-size: 1rem;
            line-height: 1.625rem; } }
    .section-concept--row:nth-child(odd) .desWrap {
      top: calc(50% - 80px);
      right: 37.1%;
      border-right: solid 1px #40210F; }
      @media screen and (max-width: 950px) {
        .section-concept--row:nth-child(odd) .desWrap {
          border-right: none;
          border-top: solid 1px #40210F; } }
      .section-concept--row:nth-child(odd) .desWrap .under_link {
        margin-top: 30px;
        font-size: 0.875rem;
        line-height: 1.75rem; }
        @media screen and (max-width: 950px) {
          .section-concept--row:nth-child(odd) .desWrap .under_link {
            font-size: 0.6875rem;
            line-height: 1.25rem; } }
    .section-concept--row:nth-child(even) .thumbWrap p {
      padding-right: 100px; }
      @media screen and (max-width: 950px) {
        .section-concept--row:nth-child(even) .thumbWrap p {
          margin-bottom: 30px;
          padding: 0 10px;
          font-size: 1rem;
          line-height: 1.625rem; } }
    .section-concept--row:nth-child(even) .desWrap {
      top: 150px;
      top: calc(50% - 80px);
      left: 37.1%;
      border-left: solid 1px #40210F; }
      @media screen and (max-width: 950px) {
        .section-concept--row:nth-child(even) .desWrap {
          border-left: none;
          border-top: solid 1px #40210F; } }
    .section-concept--row:first-child {
      padding-top: 100px; }
  .section-concept--img {
    position: absolute;
    width: 67px; }
    .section-concept--img.img01 {
      top: 64px;
      left: 235px; }
      @media screen and (max-width: 950px) {
        .section-concept--img.img01 {
          top: auto;
          bottom: 94px;
          left: 4%; } }
    .section-concept--img.img02 {
      top: -40px;
      left: 340px; }
      @media screen and (max-width: 950px) {
        .section-concept--img.img02 {
          top: auto;
          bottom: 182px;
          left: 27.7%; } }
    .section-concept--img.img03 {
      top: 80px;
      right: 340px; }
      @media screen and (max-width: 950px) {
        .section-concept--img.img03 {
          top: auto;
          bottom: 80px;
          right: 27.7%; } }
    .section-concept--img.img04 {
      top: 12px;
      right: 235px; }
      @media screen and (max-width: 950px) {
        .section-concept--img.img04 {
          top: auto;
          bottom: 138px;
          right: 4%; } }
  .section-concept--head {
    width: 42.3%;
    margin: 0 auto; }
    @media screen and (max-width: 950px) {
      .section-concept--head {
        width: 100%; } }
  .section-concept--subTtl {
    margin-bottom: 40px;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: bold;
    color: #40210F;
    text-align: center; }
    @media screen and (max-width: 950px) {
      .section-concept--subTtl {
        font-size: 1.125rem;
        line-height: 1.75rem; } }
  .section-concept--intro {
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: 500; }
    @media screen and (max-width: 950px) {
      .section-concept--intro {
        font-size: 0.75rem;
        line-height: 1.375rem; } }

.section-information {
  text-align: center; }
  .section-information ul {
    margin-bottom: 60px; }
    @media screen and (max-width: 950px) {
      .section-information ul {
        margin-bottom: 40px;
        padding: 0 10px; } }
  .section-information li {
    margin-bottom: 40px; }
    @media screen and (max-width: 950px) {
      .section-information li {
        margin-bottom: 30px; } }
    .section-information li:last-child {
      margin-bottom: 0; }
  .section-information .date {
    margin-bottom: 10px; }
  .section-information .under_link {
    margin-bottom: 16px; }
    @media screen and (max-width: 950px) {
      .section-information .under_link {
        font-size: 0.75rem;
        line-height: 1.375rem; } }

.section-access {
  padding-bottom: 60px;
  background-color: #EFEFEF; }
  @media screen and (max-width: 950px) {
    .section-access {
      padding-bottom: 40px; } }
  .section-access .viewmap-wrap {
    margin: 20px 0 40px;
    text-align: center; }
    @media screen and (max-width: 950px) {
      .section-access .viewmap-wrap {
        margin: 20px 0 30px; } }
  .section-access--logo {
    width: 16.1%;
    margin: 100px auto 40px; }
    @media screen and (max-width: 950px) {
      .section-access--logo {
        width: 226px;
        max-width: 60%; } }
  .section-access--imgMap {
    width: 38.6%;
    margin: 0 auto 20px;
    cursor: pointer; }
    @media screen and (max-width: 950px) {
      .section-access--imgMap {
        width: auto;
        margin: 0 20px 20px; } }
  .section-access--address {
    margin-bottom: 50px;
    font-size: 0.75rem;
    line-height: 1.1875rem;
    text-align: center;
    font-weight: 500; }
    @media screen and (max-width: 950px) {
      .section-access--address {
        margin-bottom: 20px;
        font-size: 0.6875rem;
        line-height: 1.25rem; } }
  .section-access--direct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -12px;
    padding: 0 180px; }
    @media screen and (max-width: 950px) {
      .section-access--direct {
        display: block;
        padding: 0 20px; } }
    .section-access--direct li {
      width: 33.33%;
      padding: 0 12px; }
      @media screen and (max-width: 950px) {
        .section-access--direct li {
          width: 100%;
          margin-bottom: 10px; }
          .section-access--direct li:last-child {
            margin-bottom: 0; } }
      .section-access--direct li a {
        display: block;
        background-color: #fff;
        font-size: 0.875rem;
        font-weight: bold;
        height: 80px;
        line-height: 80px;
        padding: 0 30px;
        position: relative;
        transition: all .3s;
        text-align: center; }
        @media screen and (max-width: 950px) {
          .section-access--direct li a {
            height: 54px;
            line-height: 54px;
            font-size: 0.75rem; } }
        .section-access--direct li a:hover {
          color: #BFB391; }
        .section-access--direct li a:before {
          background: #40210F;
          content: "";
          height: 30px;
          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 30px; }
        .section-access--direct li a:after {
          background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #fff 50.5%) no-repeat top left/100% 100%;
          content: "";
          display: block;
          height: 30px;
          width: 30px;
          position: absolute;
          bottom: 0px;
          right: 0px; }
  @media screen and (max-width: 950px) {
    .section-access iframe {
      height: 120px; } }

.remodal {
  padding: 0;
  max-width: 80%; }
  @media screen and (max-width: 950px) {
    .remodal {
      max-width: 96%; } }
  .remodal-close {
    width: 24px;
    height: 24px;
    left: auto;
    right: -24px;
    transform: translateY(-100%); }
    @media screen and (max-width: 950px) {
      .remodal-close {
        right: -4px;
        top: -5px; } }
    .remodal-close:hover:before {
      opacity: .7; }
    .remodal-close:before {
      width: 24px;
      left: auto;
      right: 0;
      font-size: 42px;
      line-height: 24px;
      color: #fff;
      transition: opacity .3s; }

@media (max-width: 950px) {
  .section-concept--row:nth-child(2n+1) {
    padding-bottom: 0; }
  .section-concept--row.fadeup {
    padding-bottom: 400px; }
  .section-concept--row:nth-child(odd) .desWrap {
    margin-bottom: 80px; } }

/* -------------------
  PAGE POLICY
--------------------*/

/*# sourceMappingURL=../maps/index.css.map */
