@charset "UTF-8";

/* -------------------
  TOP PAGE
--------------------*/
// main
.main {
  &-visual {
  	position: relative;
  	min-height: 50vh;
    background: url("../images/top/bg_main.svg") top -430px left -250px no-repeat, linear-gradient(90deg, #534209 0%, #40210F 100%) 0% 0% no-repeat;
    @include mq() {
    	padding-bottom: 40px;
	    background: url(../images/top/bg_main.svg) top -155px left -76px /320px 320px no-repeat, linear-gradient(180deg, #534209 0%, #40210F 100%) 0% 0% no-repeat;
	  }
    &--bgWrapper {
    }
    &--bg {
      padding: 50px;
      @include mq() {
	      padding: 20px;
      }
    }
    &--title {
    	position: absolute;
    	top: 47%;
    	transform: translateY(-50%);
    	-webkit-transform: translateY(-50%);
    	left: 210px;
    	width: 705px;
  		max-width: 50%;
    	z-index: 1;
    	color: #fff;
  		font-family: 'EB Garamond', serif;
  		@include mq() {
  			top: 35%;
	      left: 30px;
	      // width: 297px;
	      width: 80%;
	      max-width: 100%;
      }
    	p {
    		width: 30%;
    		margin-bottom: 20px;
    		@include mq() {
    			width: 48%;
	    		margin-bottom: 10px;
	      }
    	}
    	h2 {
    		width: 100%;
    	}
    }
    &--topic {
    	display: flex;
    	position: absolute;
    	bottom: 0;
    	right: 0;
    	width: 535px;
    	padding: 30px 50px 30px 40px;
    	color: #fff;
    	background-color: #40210F;
    	z-index: 1;
    	@include mq() {
	      position: static;
	      display: block;
	      width: 100%;
	      padding: 0 20px;
	      background-color: transparent;
      }
    	&-left {
    		width: calc(100% - 50px);
    		@include mq() {
    			width: 100%;
	      }
    	}
    	&-right {
    		width: 50px;
    		text-align: right;
    		@include mq() {
    			text-align: center;
    			margin: 30px auto 0;
	      }
    	}
    	&-news {
    		margin-bottom: 12px;
    		font-size: fs(18);
    		line-height: fs(23);
    		font-family: 'EB Garamond', serif;
    		@include mq() {
    			font-size: fs(16);
	    		line-height: fs(25);
	      }
    	}
    	&-des {
    		font-size: fs(16);
    		line-height: fs(29);
    		font-weight: bold;
    		transition: all .3s;
    		@include mq() {
    			font-size: fs(14);
	    		line-height: fs(25);
	      }
    		&:hover {
    			color: #BFB391;
    		}
    	}
    	&-link {
    		font-size: fs(12);
    		line-height: fs(20);
    		color: #fff;
    		@include mq() {
    			font-size: fs(11);
	    		line-height: fs(20);
	      }
    	}
    }
  }
}


// main
.section {
	&-concept {
		position: relative;
		margin-bottom: 100px;
		background: url("../images/top/bg_concept.svg") bottom 430px right -370px no-repeat;
		@include mq() {
			background: url("../images/top/bg_concept.svg") bottom 31% right -190px/400px 400px no-repeat
    }
		&--row {
			position: relative;
			margin-bottom: 100px;
			padding: 0 180px;
			@include mq() {
				margin-bottom: 0;
				padding: 0;
      }
			.thumbWrap {
				width: 38.5%;
				@include mq() {
					width: 100%;
	      }
				p {
					margin-top: 25px;
					font-size: fs(18);
					line-height: fs(28);
					font-weight: bold;
				}
			}
			.desWrap {
				position: absolute;
				// top: 60px;
				// top: calc(50% - 80px);
		    width: 625px;
				max-width: 100%;
				max-height: 310px;
				// overflow: auto;
				overflow: hidden;
				padding: 40px;
				background-color: #fff;
				@include mq() {
					position: static;
					width: auto;
					max-height: 100%;
					margin: 0 10px;
			    padding: 30px 0 0 0;
			    background-color: transparent;
	      }
				p {
					font-size: fs(14);
					line-height: fs(28);
					font-weight: 500;
					@include mq() {
						font-size: fs(12);
						line-height: fs(22);
		      }
				}
			}
			&:nth-child(odd) {
				margin-bottom: 80px;
				// padding-top: 100px;
				@include mq() {
					margin-bottom: 0;
					padding: 80px 10px 430px;
	      }
			}
			&:nth-child(even) {
				.thumbWrap {
					// width: 38.5%;
					p {
						padding-right: 100px;
						@include mq() {
							margin-bottom: 30px;
							padding: 0 10px;
							font-size: fs(16);
							line-height: fs(26);
			      }
					}
				}
				.desWrap {
					// width: 33%;
					left: 37.1%;
					border-left: solid 1px #40210F;
					@include mq() {
						border-left: none;
						border-top: solid 1px #40210F;
		      }
				}
			}
			&:nth-child(odd) {
				.thumbWrap {
					margin-left: auto;
					p {
						padding-left: 100px;
						@include mq() {
		    			margin-bottom: 30px;
							padding: 0 10px;
							font-size: fs(16);
							line-height: fs(26);
			      }
					}
				}
				.desWrap {
					// top: 50%;
					top: calc(50% - 80px);
					right: 37.1%;
					border-right: solid 1px #40210F;
					@include mq() {
						border-right: none;
						border-top: solid 1px #40210F;
		      }
					.under_link {
						margin-top: 30px;
						font-size: fs(14);
						line-height: fs(28);
						@include mq() {
							font-size: fs(11);
							line-height: fs(20);
			      }
					}
				}
			}
			&:nth-child(even) {
				.thumbWrap {
					// width: 38.5%;
					p {
						padding-right: 100px;
						@include mq() {
		    			margin-bottom: 30px;
							padding: 0 10px;
							font-size: fs(16);
							line-height: fs(26);
			      }
					}
				}
				.desWrap {
					top: 150px;
					top: calc(50% - 80px);
					left: 37.1%;
					border-left: solid 1px #40210F;
					@include mq() {
						border-left: none;
						border-top: solid 1px #40210F;
		      }
				}
			}
			&:first-child {
				padding-top: 100px;
			}
		}
		&--img {
			position: absolute;
			width: 67px;
			&.img01 {
				top: 64px;
				left: 235px;
				@include mq() {
					top: auto;
					bottom: 94px;
					left: 4%;
	      }
			}
			&.img02 {
				top: -40px;
				left: 340px;
				@include mq() {
					top: auto;
					bottom: 182px;
					left: 27.7%;
	      }
			}
			&.img03 {
				top: 80px;
				right: 340px;
				@include mq() {
					top: auto;
					bottom: 80px;
					right: 27.7%;
	      }
			}
			&.img04 {
				top: 12px;
				right: 235px;
				@include mq() {
					top: auto;
					bottom: 138px;
					right: 4%;
	      }
			}
		}
		&--head {
			// width: 440px;
			width: 42.3%;
			margin: 0 auto;
			@include mq() {
				width: 100%;
      }
		}
		&--subTtl {
			margin-bottom: 40px;
			font-size: fs(20);
			line-height: fs(32);
			font-weight: bold;
			color: #40210F;
			text-align: center;
			@include mq() {
				font-size: fs(18);
				line-height: fs(28);
      }
		}
		&--intro {
			font-size: fs(14);
			line-height: fs(28);
			font-weight: 500;
			@include mq() {
				font-size: fs(12);
				line-height: fs(22);
      }
		}
	}
	&-information {
		text-align: center;
		ul {
			margin-bottom: 60px;
			@include mq() {
				margin-bottom: 40px;
				padding: 0 10px;
      }
		}
		li {
			margin-bottom: 40px;
			@include mq() {
				margin-bottom: 30px;
      }
			&:last-child {
				margin-bottom: 0;
			}
		}
		.date {
			margin-bottom: 10px;
		}
		.under_link {
			margin-bottom: 16px;
			@include mq() {
				font-size: fs(12);
				line-height: fs(22);
      }
		}
	}
	&-access {
		padding-bottom: 60px;
		background-color: #EFEFEF;
		@include mq() {
			padding-bottom: 40px;
    }
		.viewmap-wrap {
			margin: 20px 0 40px;
			text-align: center;
			@include mq() {
				margin: 20px 0 30px;
      }
		}
		&--logo {
			width: 16.1%;
			margin: 100px auto 40px;
			@include mq() {
				width: 226px;
				max-width: 60%;
      }
		}
		&--imgMap {
			width: 38.6%;
			margin: 0 auto 20px;
			cursor: pointer;
			@include mq() {
				width: auto;
				margin: 0 20px 20px;
      }
		}
		&--address {
			margin-bottom: 50px;
			font-size: fs(12);
			line-height: fs(19);
			text-align: center;
			font-weight: 500;
			@include mq() {
				margin-bottom: 20px;
				font-size: fs(11);
				line-height: fs(20);
      }
		}
		&--direct {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    margin: 0 -12px;
	    padding: 0 180px;
	    @include mq() {
				display: block;
				padding: 0 20px;
      }

			li {
				width: 33.33%;
				padding: 0 12px;
				@include mq() {
					width: 100%;
					margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0;
					}
	      }
				a {
					display: block;
					background-color: #fff;
					font-size: fs(14);
			    font-weight: bold;
			    height: 80px;
			    line-height: 80px;
			    padding: 0 30px;
			    position: relative;
			    transition: all .3s;
			    text-align: center;
			    @include mq() {
						height: 54px;
				    line-height: 54px;
						font-size: fs(12);
		      }
			    &:hover {
			    	color: #BFB391;
			    }
			    &:before {
				    background: #40210F;
				    content: "";
				    height: 30px;
				    position: absolute;
				    bottom: 0px;
				    right: 0px;
				    width: 30px;
					}
					&:after {
				    background: linear-gradient(to top left, rgba(255, 255, 255, 0) 50%, #fff 50.5%) no-repeat top left/100% 100%;
				    content: "";
				    display: block;
				    height: 30px;
				    width: 30px;
				    position: absolute;
				    bottom: 0px;
				    right: 0px;
					}
				}
			}
		}
		iframe {
			@include mq() {
				height: 120px;
      }
		}
	}
}


// Custom remodal
.remodal {
	padding: 0;
  max-width: 80%;
  @include mq() {
		max-width: 96%;
  }
	&-close {
    width: 24px;
    height: 24px;
		left: auto;
		right: -24px;
		transform: translateY(-100%);
		@include mq() {
			right: -4px;
			top: -5px;
	  }
    &:hover {
    	&:before {
	    	opacity: .7;
    	}
    }
		&:before {
	    width: 24px;
			left: auto;
			right: 0;
			font-size: 42px;
	    line-height: 24px;
      color: #fff;
      transition: opacity .3s;
		}
	}
}


// manh editted
@media(max-width: 950px){
  .section-concept--row:nth-child(2n+1){
      padding-bottom: 0;
    }
    .section-concept--row.fadeup{
      padding-bottom: 400px;
    }
    .section-concept--row:nth-child(odd) .desWrap{
    margin-bottom: 80px;
  }
}